<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de estudiantes</title>
</head>
<body>
 	<table>
		<thead>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Edad</th>
			<th>Estado</th>
		</thead>
			<th:block th:each="estudiante, row:${estudiantes}">
				<tr>
					<th th:text="${estudiante.codigoEstudiante}"/>
					<th th:text="${estudiante.nombre}"/>
					<th th:text="${estudiante.apellido}"/>
					<th th:text="${estudiante.edad}"/>
					<th th:text="${estudiante.estadoDelegate}"/>
				</tr>
			</th:block>
	</table>
	 <br>
    <form th:action="@{/busqueda}" method="POST">
        <label>Ingresar codigo de estudiante: </label>
        <input type="number" name="codigo">
        <br>
        <button type="submit" name="action" value="borrar">Borrar</button><br>
        <button type="submit" name="action" value="actualizar">Actualizar</button><br>
        <button type="submit" name="action" value="buscar">Buscar</button><br>
    </form>
    
    <br>
    <form th:action="@{/insertarEstudiante}">
        <input type="submit" value="Insertar nuevo estudiante">
    </form>
    <br>
	
	<form th:action="@{/filtrar}" method="post">
	<Label>Ingrese la cadena por la que quiere filtrar</Label>
	<input type="text" name="nombre">
		<input type="submit" value ="Filtrar">
	</form><br>
	
	
 <form th:action="@{/estudiante}" method="post">
 <input type="submit" value="HOME">
 </form>
 

<!--   <form th:action ="@{/mostrarEstudiante}" method="post">
	<label> Buscar por codigo de estudiante: </label><input type="number" name ="codigo">
	<input type="submit" value="Buscar"> 
 </form>-->

</body>
</html>